# MySQL config file for small systems.
#
# Config Version 1.2
#
# This is for a system with little memory (<= 64M) where MySQL is only used
# from time to time and it's important that the mysqld daemon
# doesn't use much resources.
#
# MySQL programs look for option files in a set of
# locations which depend on the deployment platform.
# You can copy this option file to one of those
# locations. For information about these locations, see:
# http://dev.mysql.com/doc/mysql/en/option-files.html
#
# In this file, you can use all long options that a program supports.
# If you want to know which options a program supports, run the program
# with the "--help" option.

# The following options will be passed to all MySQL clients
[client]
#password       = your_password
port            = 3306
socket          = /tmp/mysql3306.sock

# Here follows entries for some specific programs

# MSSD Comment: Normal RocksDB mariadb MYRocks Configuration using No Compression


# The MySQL server
[mysqld]
port            = 3306
socket          = /tmp/mysql3306.sock
skip-external-locking
key_buffer_size = 16K
max_allowed_packet = 1M
table_open_cache = 20000
table_open_cache_instances = 64
sort_buffer_size = 64K
read_buffer_size = 256K
read_rnd_buffer_size = 256K
net_buffer_length = 2K
thread_stack = 240K

#begin edward_edit
max_connections=5000
max_user_connections=4000
max_connect_errors=3000
#end edward_edit
plugin-dir=/home/labuser/mariadb-10.2/storage/rocksdb
language=/home/labuser/mariadb-10.2/sql/share/english
datadir=/mnt/nvme0n1/install.db
plugin-load=ha_rocksdb
default-storage-engine=rocksdb
skip-innodb
default-tmp-storage-engine=MyISAM
collation-server=latin1_bin
transaction-isolation=READ-COMMITTED #Edward:per tuning tip

server-id       = 2 

rocksdb_max_open_files=-1
rocksdb_max_background_jobs=12
rocksdb_max_total_wal_size=4G
rocksdb_block_size=2048
rocksdb_table_cache_numshardbits=6
rocksdb_lock_wait_timeout=2

# rate limiter
rocksdb_bytes_per_sync=4194304
rocksdb_wal_bytes_per_sync=4194304
rocksdb_rate_limiter_bytes_per_sec=1572864000

# triggering compaction if there are many sequential deletes
rocksdb_compaction_sequential_deletes_count_sd=1
rocksdb_compaction_sequential_deletes=199999
rocksdb_compaction_sequential_deletes_window=200000
rocksdb_max_subcompactions=4
rocksdb_compaction_readahead_size=16m
rocksdb_use_direct_reads=OFF
rocksdb_use_direct_io_for_flush_and_compaction=OFF

rocksdb_default_cf_options=write_buffer_size=41m;target_file_size_base=10m;max_bytes_for_level_base=160m;level0_file_num_compaction_trigger=4;level0_slowdown_writes_trigger=10;level0_stop_writes_trigger=15;max_write_buffer_number=4;compression_per_level=kNoCompression;bottommost_compression=kNoCompression;level_compaction_dynamic_level_bytes=true;optimize_filters_for_hits=true;memtable_prefix_bloom_size_ratio=0.05;prefix_extractor=capped:12;compaction_pri=kMinOverlappingRatio;block_based_table_factory={cache_index_and_filter_blocks=1;filter_policy=bloomfilter:10:false;whole_key_filtering=0}

rocksdb_override_cf_options=cf_link_pk={prefix_extractor=capped:20};rev:cf_link_id1_type={prefix_extractor=capped:20}

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[myisamchk]
key_buffer_size = 8M
sort_buffer_size = 8M

[mysqlhotcopy]
interactive-timeout
